.container{
    height: 100vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.text_section{
    width: 45%;
}
.title{
    padding: 0;
    margin: 0;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-family: nexa_boldregular, Helvetica, Arial, sans-serif !important;
}
.paragraph{
    font-size: 20px;
}