.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    
}
.option{
    display: flex;
    justify-content: space-between;
    gap:10px;
    padding-left: 10px;
}
.option_text{
    padding-left: 10px;
    padding-right: 10px;
}
.form_label{
    font-size: 18px;
}